.Layout {
  max-width: 950px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid rgb(192, 192, 192);
  position: relative;
  background-color: #f3f3f3;

  .PrevBtn,
  .NextBtn {
    color: rgb(92, 92, 92);
    height: 46px;
    width: 37px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    margin-left: 0px;
    z-index: 3;
  }
  .NextBtn {
    right: 0px;
  }
}

.DisableBtn{
  opacity: 0.5;
}